<launch>
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find rover_simulation)/maps/new_map.yaml"/> -->
    <arg name="map_file" default="$(find rover_simulation)/maps/new_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
</launch>