<launch>

    <rosparam command="load" file="$(find robot_localization)/params/dual_ekf_navsat_example.yaml" />

     <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

     <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <!-- <remap from="odometry/filtered" to="odometry/filtered_map"/> -->
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <!-- <remap from="odometry/filtered" to="odometry/filtered_map"/> -->
    <remap from="gps/fix" to="navsat/fix"/>
  </node>


    <!-- run map map_server -->
    <include file="$(find rover_simulation)/launch/map_server.launch" />

    <include file="$(find rover_simulation)/launch/with_map_move_base.launch" />

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rover_simulation)/rviz/odom_mapping.rviz" />


</launch>