<?xml version="1.0"?>
<launch>
  <!-- load ekf and navsat params -->
  <rosparam command="load" file="$(find rover_localisation)/params/ekf_params.yaml" />
  <rosparam command="load" file="$(find rover_localisation)/params/navsat_params.yaml" />
  
  <!-- initialise the local ekf instance -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <!-- initialise the global ekf instance -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>
  
  <!-- initialise navsat transform instance -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
      <remap from="gps/fix" to="/navsat/fix"/>
      <remap from="imu/data" to="/imu/data"/>
  </node>

</launch>